/* Write your code here. */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.main-container {
  background-color: #d7dae6;
  background: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content-container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding: 20px;
  border-radius: 10px;
}
.heading {
  color: #cb8805;
  font-size: 50px;
  font-family: Roboto;
}
.faqs-container {
  margin-top: 20px;
  width: 95%;
}
